html {
    font-size: 10px;
    font-family: 'DM Sans', sans-serif;
}
:root {
    --ti-le--:0.8333;
}
.underline {
    text-decoration: none;
}
.main {
    font-size: 1.8rem;
    display:flex;
    height:auto;
    width:100%;
    background-color:rgba(28, 30, 42, 1);
}
.chart--green {
    color: #2AD97B !important;
}
.chart--red {
    color: #FF0000 !important;
}
.seller--following {
    background-color: #000;
    color:rgba(9, 151, 255, 1);
}
.seller--follow {
    color: #fff;
    background-color:rgba(9, 151, 255, 1);
}
/* nav */
.nav {
    width:381px;
    height:100vh;
    padding:134px 0px 58px ;
    color:#fff;
    border-right:1px solid rgba(155, 157, 160, 1);
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
}
.navbar {
    list-style:none;
}
.navbar__item + .navbar__item {
    margin-top:10px;
}
.navbar__item > a > span {
    color:rgba(217, 217, 217, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
}
.navbar__item > a > i {
    color:rgba(255, 255, 255, 1);
    margin-right:35px;
}
.navbar__item:hover > a > i,
.navbar__item:hover > a > span{
    color:rgba(9, 151, 255, 1);
}.navbar__item:nth-child(4),
.navbar__item:last-child {
    margin-top:50px;
}
/* nav__banner */
.nav__banner {
    background-image:url('../img/Rectangle 47.png');
    width:267px;
    height:318px;
    border-radius: 15px;
    padding:28px;
}
.nav__banner-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 128%;
    /* or 46px */
    
    
    color: #FFF9F9;
}
.nav__btn {
    margin-top:56px;
    padding:20px 18px;
    background-color:#fff;
    border-radius:12px;
    display:flex;
    align-items:center;
    font-weight: 500;
    font-size: 16px;
    line-height: 128%;
    /* or 20px */
    
    
    color: #000000;
    
}
.nav__btn > span {
    display:block;
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:rgba(179, 63, 255, 1);
    margin-left:10px;
    display:flex;
    align-items:center;
    justify-content:center;

}
.nav__btn:hover {
    background-color: red;
    cursor: pointer;
    color:#fff;
}
/* content */
.content {
    flex-grow: 1;
    max-height: 100vh;
    overflow: auto;
    padding:28px 24px;

}
.content__search {
    width:100%;
    display: flex;
    justify-content: space-between;
    background-color: #000;
}
.content__search > button {
    display: none;
    background-color: transparent;
    border:none;
    padding:10px 20px;
    color :rgba(9, 151, 255, 0.8);
    font-size: 35px;
    cursor: pointer;
}
.form__search {
    margin-left: 134px;
    background: #2E3140;
    border-radius: 12px;
    border:1px solid #F7FAFF;
    width:439px;
    padding:16px;
    display:flex;
    min-width: 600px;
}
.search__btn {
    border:none;
    background: #2E3140;
    color:#fff;
    font-size:2rem;
    margin-right:20px;
    cursor: pointer;
}
.form__search > input {
    flex-grow: 1;
    border:none;
    outline: none;
    background: #2E3140;
}
.form__search > input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    /* identical to box height, or 27px */
    
    
    color: #A3B2C8;
    
}
/* content__banner */
.content__banner {
    width:100%;
    background: #0997FF;
    height:auto;
    display:flex;
    margin-top: 50px;
    border-radius: 12px;
    padding:30px; 
    position: relative;
}
.content__banner-text {
    width:60%;
}
.content__banner-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 114%;
    /* or 55px */
    
    
    color: #FFF9F9;
}
.content__banner-descrption {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    /* identical to box height, or 27px */
    margin:11px auto 26px;
    
    color: #FFFFFF;
    
}
.content__banner-btn {
    min-width: 230px;
    padding:19px 34px;
    border:1px solid;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 169%;
    /* or 30px */
    border: 1px solid #0997FF;
    color: #0997FF;
    cursor: pointer;
    text-transform: capitalize;
    
}
.content__banner-btn:last-child {
    border: 1px solid #FFFFFF;
    background-color: #0997FF;
    color:#fff;
    margin-left: 16px;
}
.content__banner-btn:first-child:hover {
    border: 1px solid #FFFFFF;
    background-color: #0997FF;
    color:#fff;
}
.content__banner-btn:last-child:hover {
    color: #0997FF;
    border: 1px solid #0997FF;
    background-color: #fff;
}
.content__banner-img {
    position: absolute;
    bottom: 0;
    right: 24px;
}
/* content__listItem */
.content__listItem {
    margin-top:50px; 
}
.content__listItem-top {
    display:flex;
    justify-content:space-between;
    margin-bottom:16px;
}
.content__listItem-info {
    display:flex;
    align-items:center;

}
.content__listItem-title {
    margin-right:22px;
    font-weight: 700;
    font-size: 24px;
    line-height: 114%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.content__listItem-count {
    font-weight: 500;
    font-size: 13px;
    line-height: 169%;
    /* identical to box height, or 22px */
    
    
    color: #9B9DA0;   
}
.content__listItem-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    /* identical to box height, or 27px */
    
    text-transform:capitalize;
    color: #24D4FB;
    
}
.content__listItem-btn:hover {
    color:red;
}
/* content__listItem-wrapper */
.content__listItem-wrapper {
    list-style:none;
    display:flex;
    justify-content:space-between;
}
.content__listItem-item {
    background: #2D3040;
    border-radius: 12px;
    padding:13px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.content__listItem-item >a  > span{
    font-weight: 500;
    font-size: 14px;
    line-height: 169%;
    /* or 24px */
    margin-left: 15px;
    
    color: #9B9DA0;
    
}
/* product */
.product {
    display:flex;
    justify-content:space-between;
    margin-top:30px;
}
.product__item {
    padding:12px;
    width:calc((100% - 46px)/3);
    background: #262C3A;
    border-radius: 12px;
}
.product__item:hover {
    transform: scale(1.05);
    transition: ease 0.5s;
}
.product__img {
    position: relative;
    width:100%;
}
.product__img >img{
    width:100%;
}
.product__time {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    list-style: none;
    transform: translate(-50%,-50%);
    align-items: center;
}
.product__time-item {
    margin-right: 10px;
    font-size: 3rem;
    color:#fff;
}
.product__time-item:nth-child(1),
.product__time-item:nth-child(3),
.product__time-item:nth-child(5)
{
    width:48px;
    height:48px;
    border-radius:50%;
    background: linear-gradient(154.8deg, rgba(228, 215, 215, 0.6) -4.25%, rgba(217, 217, 217, 0.6) 84%);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 114%;
    /* identical to box height, or 16px */
    
    
    color: #FFFFFF;
}
.product__content {
    display:flex;
    justify-content:space-between;
    margin-top:7px;
}
.product__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 114%;
    /* or 23px */
    
    color: #FFFFFF;  
}
.product__author {
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    /* identical to box height, or 16px */
    
    
    color: #9B9DA0;
}
.product__avatar {
    width:36px;
    height:36px;
}
.product__bottom{
    margin-top:30px;
    display:flex;
    justify-content:space-between;

}
.product__bottom-item {
    display:flex;
    flex-direction:column;
}
.product__bottom-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 114%;
    /* or 14px */
    
    
    color: #9B9DA0;
}
.product__bottom-content {
    font-weight: 600;
    font-size: 14px;
    line-height: 114%;
    /* identical to box height, or 16px */
    
    
    color: #FFFFFF;
}
/* chart */
.content__chart {
    margin-top: 50px;
}
.chart__bottom {
    width:100%;

}
.chart__field {
    width:100%;
    border: 1px solid #9B9DA0;
    border-radius: 12px 12px 0px 0px;
    display:flex;
    color:#fff;
}
.chart__field >div,
.chart__item >div,
.chart__item > span {
    padding:23px 29px;
}

.chart__volume {
    width:20%;
    font-weight: 600;
    font-size: 14px;
    line-height: 114%;
    color: #9B9DA0; 
}
.chart__percent,
.chart__owners,
.chart__it {
    font-weight: 600;
    font-size: 14px;
    line-height: 114%;
    color: #9B9DA0;
    width:16.66%;
}
.chart__items {
    color:#fff;
    width:100%;
    border: 1px solid #9B9DA0;
    border-radius: 0px 0px 12px 12px;
}
.chart__item {
    display: flex;
    color:#fff;

}
.chart__user {
    width:30%;
    display:flex;
    align-items:center;
}
.chart__user > img {
    width:48px;
    height:48px;
    margin-right:20px;
}
.chart__user-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 114%; 
    color: #FFFFFF;  
}
.chart__user-key{
    font-weight: 400;
    font-size: 12px;
    line-height: 114%;
    /* or 14px */
    
    
    color: #9B9DA0;  
}
/* right */
.right {
    width:470px;
    height:100vh;
}

/*  */
.account {
    width:100%;
    height: 134px;
     display:flex;
     align-items:center;
     justify-content: center;
     color:#fff;

}
.notification {
    margin-right:27px;
    cursor: pointer;
    position: relative;
}


.notification > i::after {
    content: "";
    display: block;
    position:absolute;
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:rgba(9, 211, 255, 1);
    top: 0;
    right: 0;
}
.account__logo > img {
    width:60px;
    height:60Px;
    margin-right:24px;
}
.account__name {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    /* or 27px */
    position: relative;
    color: #D9D9D9;
}
.account__name:hover .account__list {
    display: block;
}
.account__list {
    display:none;
    position: absolute;
    top: 20px;
    left: 0;
    background-color: rgba(217, 217, 217, 0.6);
    list-style: none;
    width: 200px;
    padding:20px;
    border-radius: 10px;
}
.account__list-item {
    padding:10px;
}
.account__list-item:hover {
    background-color: #0997FF;
    border-radius: 10px;
}
.account__list-item > a {
    color: #fff;
    text-transform: capitalize;
}
.notification__title {
    color: rgba(9, 151, 255, 1);
    text-transform: capitalize;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.notification__content {
    display: none;
    position: absolute;
    width: 200px;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    top: 30px;
    right: -10px;
}
.notification__content::after {
    content: "";
    display: block;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom:20px solid #fff ;
    position: absolute;
    top: -15px;
    right: 10px;
}
.notification__list {
    list-style: none;
}
.notification__item {
    padding: 10px;
    text-transform: capitalize;
    display: block;
}
.notification__item:hover {
    background-color: #ccc;
    border-radius: 10px;
}
.notification:hover .notification__content {
    display: block;
}
/* slide */
.slide {
    width:100%;
    height:calc(100vh - 134px);
    background: #2E3140;
    padding: 46px 40px;
}
.slide__offers {
    width:100%;
    background: #1C1E2A;
    border-radius: 12px;
    height: auto;
    padding: 68px 36px 28px;
}
.slide__offer-price {
    font-weight: 700;
    font-size: 36px;
    line-height: 114%;
    /* identical to box height, or 41px */
    display: block;
    margin-bottom:20px;
    color: #FFFFFF;
    
}
.slide__offers-total {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 169%;
    /* or 24px */
    
    
    color: #C4C4C4;
}
.slide__offers-usd {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 169%;
    /* or 24px */
    
    
    color: #FCFCFF;
}
.slide__offers-usd > span {
    color: #73C255;

}
.slide__offers-code {
    margin-top:52px;
    display:flex;
    align-items:center;
    margin-bottom: 19px;
}
.slide__offers-code > p {
    font-weight: 500;
    font-size: 14px;
    line-height: 169%;
    /* or 24px */
    margin-right: 15px;
    color: #C4C4C4;
}
.slide__offers-code > i {
    color: rgba(9, 151, 255, 1);
}
.slide__offers-btn {
    background: #0997FF;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    display: flex;
    font-weight: 500;
    font-size: 20px;
    line-height: 114%;
    /* identical to box height, or 23px */
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
}
.slide__offers-btn > span {
   display: block;
   width:30px;
   height:30px;
   border-radius: 4px;
   background-color: #fff;
   color: rgba(9, 151, 255, 1);
   display: flex;
   align-items: center;
   justify-content: center; 
   margin-right: 15px;
}
.slide__offers-btn:hover {
    background-color: rgba(9, 151, 255, 0.8);
}
.sellers {
    margin-top: 30px;
    padding: 32px;
    background: #1C1E2A;
    border-radius: 12px;
    overflow: auto;
   max-height: 470px;
}
.sellers__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.seller__title {
    color: #fff;
}
.sellers__item {
    display: flex;
   margin-top: 25px;
}
.seller__user {
    flex-grow: 1;
}
.seller__btn {
    text-transform: capitalize;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 114%;
    /* or 18px */
    cursor: pointer;
    border: 1px solid #0997FF;
    min-width: 118px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seller__btn:hover {
    background-color: rgba(9, 151, 255, 0.8);
}
/* scroll bar */
/* width */
.content::-webkit-scrollbar,
.sellers::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .sellers::-webkit-scrollbar-track,
  .content::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .sellers::-webkit-scrollbar-thumb,
  .content::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #737dfe,#ffcac9);
  }
  
  /* Handle on hover */
  .sellers::-webkit-scrollbar-thumb:hover,
  .content::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #2f80ed,#b2ffda);
  }

  /*  */
  .account__btn-close {
    display: none;
    border: none;
    background-color: transparent;
    padding:5px 10px;
    color:rgba(9, 151, 255, 1);
    font-size:50px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .nav__btn-close {
    display: none;
    border: none;
    background-color: transparent;
    padding:5px 10px;
    color:rgba(9, 151, 255, 1);
    font-size:50px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .open__left {
    display: block !important;
    transform: translateX(-100%);
    animation:leftIn linear 0.3s forwards;
  }
  .open__right {
    display: block !important;
    transform: translateX(100%);
    animation:rightIn linear 0.3s forwards;
  }
  @keyframes rightIn {
    to {
        transform: translateX(0%);
    }
  }
  @keyframes leftIn {
    to {
        transform: translateX(0%);
    }
  }