/* tablet */
@media only screen and (max-width:1200px) {
    .wrapper {
        padding:0px 70px;
    }
    .main {
        position: relative;
        width: 100%;
    }
    .header {
        padding: 20px;
    }
    .moblie__right {
        z-index: 2;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.7);
    }
    .nav__btn-close {
        display: block;
    }
    .account__btn-close {
        display: block;
    }
    .moblie__left {
        display: none;
        z-index: 10;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.7);
    }
    .nav {
        background-color: black;
    }
    .right {
        float: right;
    }
    .content__search > button {
        display:block;
    }
    .donor__item {
        width:100%;
        margin-bottom: 20px;
    }
   
}

/* mobile */
@media only screen and (max-width:768px) {
    .wrapper {
        padding:0px 20px;
    }
    .banner__content {
        width:100%;
    }
    .banner__img {
        
        display: none;
    }
    .nav1 {
        width:100%;
        display:block;
        position: absolute;
        /* top:100px; */
        transform: translateY(-100%);
        top: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
        padding: 20px;
        border-radius: 8px;
    }
  
    .nav__banner {
        display: none;
    }
    .btn--header {
        display: none;
    }
    .content__search-menu {
        display: block;
    }
    .form__search {
        min-width:0;
        margin: 0;
        flex-grow: 1;
    }
    .form__search > input {
        display: none;
    }
    .content {
        padding: 10px;
    }
    .content__banner-btns {
        flex-wrap: wrap;
    }
    .content__banner-text {
        width:100%;
    }
    .content__banner-btn:last-child {
        margin: 10px 0px 0px 0px;

    }
    .content__banner-text{
        z-index: 1;
    }
    .content__banner-img  {
        display: none;
    }
    .content__listItem-wrapper {
        flex-wrap: wrap;
    }
    .content__listItem-item {
        width: 30%;
        margin-bottom: 20px;
    }
    .product {
        flex-wrap: wrap;
    }
    .product__item {
        width:100%;
        margin-bottom: 30px;
    }
    .chart__field >div, .chart__item >div, .chart__item > span 
    {
        padding: 5px;
    }
    .chart__item {
        position: relative;
    }
    .chart__user-info {
        display: none;
        position: absolute;
        bottom: 0;
        left: 20px;
        transform: translateY(100%);
        z-index: 5;
        background-color: rgba(0,0,0,0.7);
        padding: 5px 10px;
        border-radius: 8px;
    }
    .chart__user > img {
        cursor: pointer;
    }
    .chart__user > img:hover ~  .chart__user-info {
        display: block;
    }
    .nav__btn-close {
        display: block;
    }
    .notification__content {
        left: -50px;
    }
    .notification__content::after {
        right: 123px;
    }
    .account__list {
        left: -40px;
    }
    .nav1__item {
        margin-bottom: 10px;
    }
    .nav1__item:hover a {
        color: violet;
        box-shadow: #fff 0px 1px 4px;
    }
    .nav1__item:last-child {
        margin: 0;
    }
}